* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --primary: #4B0082;
    --secondary: #FFFFFF; 
    --tertiary: #FF00FF;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

p {
  font-size: 1.3rem;
}

.btn {
    padding: 10px 28px;
    text-decoration: none;
    background: var(--primary);
    font-size: 1.3rem;
    color: var(--secondary);
    border-radius: 10px;
    margin-top: 20px;
}

.option-btn, .btn {
    padding: 10px 28px;
    text-decoration: none;
    background: var(--primary);
    font-size: 1.3rem;
    color: var(--secondary);
    border-radius: 10px;
    margin-top: 20px;
    width: auto;
}
#question-card {
    display: none;
}

.option-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8rem;
    width: 320px;
    font-size: 3rem;
    min-width: 10rem;
    border-radius: 10px;
}

.option-text {
    color: var(--secondary);
    padding: 5px 0px; 
}

@media screen and (max-width: 768px) {
    .option-container {
        min-width: 19rem;
    }
}